.black {color: black} .silver {color: silver} .gray {color: gray} .white {color: white} .maroon {color: maroon} .red {color: red} .purple {color: purple} .fuchsia {color: fuchsia} .green {color: green} .lime {color: lime} .olive {color: olive} .yellow {color: yellow} .navy {color: navy} .blue {color: blue} .teal {color: teal} .aqua {color: aqua} .orange {color: orange}


.text-align-center{text-align:center !important;}
.text-align-justify{text-align:justify !important;}
.text-align-left{text-align:left !important;}
.text-align-right{text-align:right !important;}
.textatrea.wysihtml5-editor blockquote{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
} 
