/*=============================================================
    Authour URI: www.binarycart.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */
/*==============================================
    GENERAL  STYLES    
    =============================================*/
@import url(http://fonts.googleapis.com/css?family=Abel);
body {font-family: 'Abel', sans-serif;}
a {cursor: pointer !important;}

.comfirm-box{text-align:center;display:block;color:#494949; position:relative; display:none}
.comfirm-box span {cursor: pointer;margin-top: 18px;position: absolute;right: 30px;}

#wrapper {width: 100%;background:#f3f3f3;}

#page-wrapper {border-left: 1px solid #ccc;padding: 15px 15px;min-height: 600px;background:#F3F3F3;}
#page-inner {width:100%;background-color:#fff!important;padding:15px;min-height:1200px;}
.preload-content{background-image: url(../imgs/loading.gif);background-position: center 20%;background-repeat: no-repeat;}
.preload-comfirm{background-image: url(../imgs/comfirm.gif);background-position: center center;background-repeat: no-repeat;background-size: 70px auto;display: block;min-height: 50px;}

.text-zero{font-size:0;color:transparent;}

.no-boder {border:0px solid #fff;}

h2 {color: #e31211;}
h4 {padding-top:10px;}
.square-btn-adjust {border: 0px solid transparent; -webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px;}
p {font-size:16px;line-height:25px;padding-top:20px;}

.left{float:left}
.right{float:right;}
.center{text-align:center;}

/*==============================================
   LOGIN STYLES    
    =============================================*/
.form_box{max-width: 500px;margin-top: 60px;padding:0 50px 50px 50px;}
.form_box form{background: #fff;}
.form_box div h1{font-size:24px;}
.form_box div h1 sup{    font-size: 18px;margin-left: -5px;}
.form_box div h2{color:#ca0319; font-size:18px;}
#connect, #install {margin-top: 25px;}
#connect form input, #connect form button, #installer form input, #installer form button{margin-bottom:15px;border-radius: 4px}
#connect form input:focus, #installer form input:focus{box-shadow: inset 0px 0px 2px 1px rgba(143,135,143,0.19);border:1px solid #aaa}
.footer-form{padding:0 5px;clear:both;}
.form-control-50{width: 49%;}

.btn-first-action{
	background-color: #e31211;
    border-color: #c52222;
    color: #fff;
}
.btn-second-action{
	background-color: #afafaf;
    border-color: #999;
    color: #fff;
}
.btn-first-action:hover{}
.btn-second-action:hover{}

/*==============================================
   DASHBOARD STYLES    
    =============================================*/
.logout{color: white;
    color: white;
    position:absolute;
    right:0px;
    font-size: 16px;
    margin: 8px 15px;
    z-index: 999;
}
.panel-back {
background-color:#F8F8F8;

}
.noti-box {
min-height: 100px;
padding: 20px;
}

.noti-box .icon-box {
display: block;
float: left;
margin: 0 15px 10px 0;
width: 70px;
height: 70px;
line-height: 75px;
vertical-align: middle;
text-align: center;
font-size: 40px;
}
.text-box p{
    margin: 0 0 3px;
}
.main-text {
    font-size: 25px;
    font-weight:600;
}
.set-icon {
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;

}
 .bg-color-green, .bg-color-blue,  .bg-color-red,  .bg-color-brown,
 .bg-color-green a, .bg-color-blue a,  .bg-color-red a,  .bg-color-brown a{
color: #fff;	 
 }
 .bg-color-green a, .bg-color-blue a,  .bg-color-red a,  .bg-color-brown a{
	 text-decoration:underline;
 }
 .bg-color-green a:hover, .bg-color-blue a:hover,  .bg-color-red a:hover,  .bg-color-brown a:hover{
	 text-decoration:none;
 }

 .bg-color-green {
background-color: #00CE6F;
}
 .bg-color-blue {
background-color: #A95DF0;
}
  .bg-color-red {
background-color: #d2322d;
}
  .bg-color-brown {
background-color: #B94A00;
}

 .icon-box-right {
display: block;
float: right;
margin: 0 15px 10px 0;
width: 70px;
height: 70px;
line-height: 75px;
vertical-align: middle;
text-align: center;
font-size: 40px;
}

 .main-temp-back {
background: #8702A8;
color: #FFFFFF;
font-size: 16px;
font-weight: 300;
text-align: center;
}
 .main-temp-back .text-temp {
font-size: 40px;
}
.back-dash {
    padding:20px;
    font-size:20px;
    font-weight:500;
      -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
background-color:#2EA7EB;
color:#fff;
}
    .back-dash p {
        padding-top:16px;
        font-size:13px;
        color:#fff;
        line-height:25px;
        text-align:justify;
    }
    .back-footer-green {
    background-color: #009B50;
    border-top: 0px solid #fff;
}
     .back-footer-red {
    background-color: #AF0000;
    border-top: 0px solid #fff;
}
     .color-bottom-txt {
   color: #000;
font-size: 16px;
line-height: 30px;
}


/*==============================================
    MENU STYLES    
    =============================================*/

/*upload profile image (da sistemare)*/
#editp{display:none;}
#photo_profile a img{border-bottom:2px solid #181818;}
.profile_cmd{position: relative;margin:-62px -5px 0 0;}
.profile_cmd > li{margin:10px;text-align:right;font-variant:small-caps;}
.profile_cmd li span{background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #181818;cursor: pointer;padding: 1px 3px;}

#up_img_p {
    color: #000000;
    cursor: pointer;
    display: block;
    margin: -60px auto 0;
    padding: 10px;
    position: absolute;
    transition: opacity 0.2s ease 0s;
    width: 100%;
    opacity:0;
}

#up_img_p:hover{
opacity:.5;
}

/*online user status php ok, html non implementato*/
.useronline, .useroffline{border-radius:10px;height:10px;width:10px;display:inline-block;margin:0 10px 0 0;}
.useronline{background:#67cb34;}
.useroffline{background:#bbb;}


a.user_link {
    background: #ececec none repeat scroll 0 0 !important;
}

.user-image {
margin: 5px auto;
-webkit-border-radius: 100%;
-moz-border-radius: 100%;
border-radius: 100%;
max-height:150px;
max-width:150px !important;/*rewrite bootstrap max width*/
border: 2px solid;
}

.navbar-cls-top .navbar-brand, .navbar-cls-top .navbar-brand:hover {
    color: #fff;
    display: block;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    text-align: center;
    width: 100%;
    background: #e31211;
}
.active-menu {
    background-color:#C90000!important;
}

.expand-menu  {
    float: right;
    margin-top: 8px;
}

.fa.expand-menu:before {
	color:#d2322d;
    content: "\f055";
}

.active > a > .fa.expand-menu:before {
	color:#e31211;
    content: "\f056";
}


.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a:before {
    margin-right: 10px;
}

.nav-second-level li a {
    padding-left: 30px;
}

.nav-third-level li a {
    padding-left: 55px;
}
.sidebar-collapse , .sidebar-collapse .nav{
	background:none;
}
.sidebar-collapse .nav {
	padding:0;
}
.sidebar-collapse .nav > li > a {
	color: #555;
	background:#f3f3f3;
	text-shadow:none;
	border-bottom: 1px solid #e9e9e9;
	
}
.sidebar-collapse > .nav > li > a {
	/*padding:15px 10px;*/
}
.sidebar-collapse > .nav > li {
	border-bottom: 1px solid rgba(107, 108, 109, 0.19);
}
.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
	
	background:#e9e9e9;
	outline:0;
}

.nav-second-level  > li:last-child > a:after,
.nav-third-level  > li:last-child > a:after {
	height:50%;
}
.nav-third-level > li > a:after,
.nav-third-level > li > a:before  {
	left:40px;
}
.navbar-side {
	border:none;
	background-color: #f3f3f3;
	
}
.navbar-cls-top {
	background:#4D4D4D;
	border-bottom:none;
	
}

.navbar-default {
border:0px solid black;
     
}
.navbar-header {
    background: #d2322d;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #B40101;
}
.navbar-default .navbar-toggle {
    border-color: #fff;
    float: left;
    margin: 8px 0 8px 15px;
    z-index: 999;
}

.navbar-default .navbar-toggle .icon-bar {
background-color: #FFF;
}
.nav > li > a > i {
    margin-right:10px;vertical-align: middle;
}
span.version{
    background: #fff none repeat scroll 0 0;
	right:0px;
    bottom: 0;
    font-size: 9px;
    opacity: 0.7;
    padding: 10px;
    position: fixed;
}

#table_filter label input{margin-left:20px;}
#table_filter, #table_paginate{text-align: right;float:right}
#table_paginate ul{margin:0px !important;}
.dataTables_wrapper{padding:10px 15px;}
div.dataTables_length label {
    width: 75px !important;
}

.table{margin-top:15px;}
.table.media tbody tr td:nth-child(2){
	text-align:left;
}


/*==============================================
    MEDIA PAGE
================================================*/
#file_drop_target{padding:12px 0; border: 1px dashed #ccc;background: #eee;border-radius:3px;}
#file_drop_target > input{text-align: center; width:100%;}

#file_drop_target.drag_over {border: 1px dashed #96C4EA; color: #96C4EA;background:#fff;}
#upload_progress {padding: 4px 0;}
#upload_progress .error {color:#a00;}
#upload_progress > div { padding:3px 0;}
.progress{position:relative;}
.no_write #mkdir, .no_write #file_drop_target {display: none}

.up_info{position:absolute;width: 100%;}/*align center for file name ans size*/

.delete{cursor: pointer;}

/*==============================================
    UI ELEMENTS STYLES     
    =============================================*/
.btn-circle {
	width: 50px;
	height: 50px;
	padding: 6px 0;
	 -webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	text-align: center;
	font-size: 12px;
	line-height: 1.428571429;
}

.nav-tabs > li.active a{background-color:#f5f5f5;}

.panel-heading button{margin-left:5px;}

/*==============================================
    MEDIA QUERIES     
    =============================================*/
 
@media(min-width:768px) {
     #page-wrapper{
        margin: 0 0 0 200px;
        padding: 0;
        min-height: 1200px;
    }

    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 200px;
    }

	.navbar {
		border-radius: 0px;
		height:50px;
	}
   
}
